<div class="row mt-2">
  <div class="col" *ngIf="dish">
    <h4>Dish details</h4>
    <h5>{{ dish.name }}</h5>
    <img [src]="dish.imageUrl" alt="{{ dish.name }}" class="img-fluid"/>
    <p>{{ dish.description }}</p>
    <p>Price: <strong>{{ dish.price }} KGS</strong></p>

    <hr/>

    <p>Manage dish:</p>
    <a class="btn btn-secondary" [routerLink]="['edit']">Edit</a>&nbsp;
    <button
      class="btn btn-danger"
      (click)="onRemove()"
      [disabled]="isRemoving"
    >
      <span *ngIf="!isRemoving">
        Delete
      </span>
      <span *ngIf="isRemoving" class="spinner-border spinner-border-sm">
        <span class="sr-only">Removing...</span>
      </span>
    </button>
  </div>
</div>
